.locationitem {
  font-size: 20px;
  margin-left: 10px;
}

.author {
  font-size: 15cm;
  padding-left: 120px;
  font-style: italic;
}

.locationitem > span {
  padding-left: 10px;
  font-size: 15cm;

  color: rgb(17, 0, 255);
}
